## Why Python

- 1 Design Philosophy (simple design easy to learn)
- 2 Batteries Included (datatypes comes with some inbuilt funvtions and attributes which makes things easy)
- 3 General Purpose (can we used for almost eveything from web dev to Data science and From functional Programming to OOP)
- 4 Community/liabraries

## Why Python for DS

- Easy to learn
- Proximity to maths
- community

# 1. Python Output

In [1]:
print("Hello World")

Hello World

In [2]:
print(1)

1

In [3]:
print(1.4)

1.4

In [4]:
print(False)

False

In [5]:
print("hello",1,1.4,False)

hello 1 1.4 False

In [15]:
# we can change the sep to anything by which we want to make out output seperated

print("hello",1,1.4,False,sep=' | ')

hello | 1 | 1.4 | False

In [13]:
print("Hello")
print("World")

Hello
World

In [16]:
# by default end = "\n" which changes the line but we can chnage it to anything which we want

print("Hello",end = " ")
print("World")

Hello World

# 2. Data Types

In [17]:
# int
print(1e308)

1e+308

In [7]:
# decimal/float
print(1.79e308)

1.79e+308

In [19]:
# boolian
print(True)

True

In [20]:
# string
print("hello world")

hello world

In [27]:
# complex
print(3+4j)

(3+4j)

In [28]:
# list
print([1,2,"hello",True])

[1, 2, 'hello', True]

In [29]:
# tuples
print((1,2,True))

(1, 2, True)

In [34]:
# sets
print({1,2,"True",True})

{1, 2, 'True'}

In [35]:
# dictionaries
print({'name':'ritij','age':20})

{'name': 'ritij', 'age': 20}

## type() 
 gives the data type of the input

In [37]:
type(1+2j)

complex

# 3. Variables
   containers used to store values for future use

In [39]:
# Static Vs Dynamic Typing
# in dynamic we dont have to declare the var before using it in static we have to first declare the var before use
# python supports dynamic typing

a=5
print(a)

5

In [41]:
# Static Vs Dynamic Binding
# in static binding once a var is declared with its datatype any other 
# datatype value can not be stored in it on the other hand in dynamic binding we can 
# store different datatype value in future

a=5
print(a)
a="ritij"
print(a)

5
ritij

In [43]:
# stylish declaration techniques

a,b,c=1,2,3
print(a,b,c)


a=b=c=5
print(a,b,c)

1 2 3
5 5 5

# 4. Keywords & Identifiers

In [44]:
# keywords -> reserved words by program to convert high level code to low level these can not be used as var name

In [46]:
# identifiers -> Name used to identify a variable, function, class, module or other objects

# Rules for setting identifiers


# You can't start with a digit
name1 = 'ritij'
print(name1)

# You cannot use special chars except -> _
_ = 'ritij'
print(_)

# identiers can not be keyword

ritij
ritij

# 5. User Input

In [8]:
name = input("Enter your name : ")
print(name)

Enter your name : ritij
ritij

# 6. Type Conversion

In [56]:
# by default input func only takes the string as an input as sting is a univeral datatype all other datatype values
# can be stored as an string so we use type conversion to convert the string into desired data type

# Implicit Vs Explicit

# Implicit
print(5+5.6)
print(type(5),type(5.6))


# Explicit

print(int(4.9))
print(int("4"))

10.6
<class 'int'> <class 'float'>
4
4

# add 2 numbers

In [57]:
# take the input from user convert them to int and store them into var

f_num = int(input("Enter first num"))
s_num = int(input("Enter second num"))

# add those var and store them in result

result = f_num + s_num

# print result

print(result)

Enter first num23
Enter second num32
55

# 7. Literals
   - Raw data given in a variable

In [58]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [59]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [60]:
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10

In [61]:
k = None
a = 5
b = 6
print('Program exe')

Program exe